body {
  background: #e5e5e5;
}
.web-link
{
 text-decoration: none;
}
  .web-titles
 {
    color: #ffffff;
    text-decoration: none;
 }
 .web-logo
 {
 color: #212121;
 font-family: Raleway;
 font-style: normal;
 font-weight: bold;
 font-size: 26px;
 line-height: 1.192;
 letter-spacing: 0.03em;
 text-decoration: none;
 }
.web-title
{
color: #2196f3;
font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.192;
letter-spacing: 0.03em;
}

.web-link:hover,
.web-link:focus
{
  color: #2196f3;
}
.web-name
{
  color: #ffffff;
  font-family: Raleway;
 font-style: normal;
 font-weight: bold;
 font-size: 26px;
 line-height: 1.192;
 letter-spacing: 0.03em;
}
.web-text {
  color: #212121;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.143;
letter-spacing: 0.02em;
}
.job {
  height: 250px;
}
.hero-title {
  color: #ffffff;
  font-family: Roboto;
  margin-top: 200px;
  margin-left: 452px;
  margin-right: 452px;
 font-style: normal;
 font-weight: 900;
 font-size: 44px;
 line-height: 1.363;
 text-align: center;
 letter-spacing: 0.06em;
 text-transform: uppercase;
  padding-left: 32px;
  padding-right: 32px;
}
 .hero-text
  {
  color: #FFFFFF;
 font-family: Roboto;
 font-weight: 700;
 font-style: normal;
 font-weight: bold;
 font-size: 16px;
 line-height: 1.875;
 display: flex;
 align-items: center;
 text-align: center;
 letter-spacing: 0.06em;
 margin-left: 20px;

 }
   .hero 
   {
    background: #2F303A;
    width: 1600px;
    height: 400px;
    padding-top: 80px;
    padding-bottom: 200px;
   }
  .hero-button{
  background: #2196F3;
  width: 200px;
  height: 50px;
  margin-left: 700px;
  margin-right: 700px;
  margin-top: 40px;
  margin-bottom: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
 }

  .select-job{
  color: #212121;
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;

               }
.select-title {
  font-family: Roboto;
  font-weight: 700;
  color: #212121;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
}
.nav-site {
  background: #e5e5e5;

  list-style: none;
}
.select-link {
  background: #FFFFFF;
  display: inline-block;
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;
   margin-bottom: 94px;
   margin-top: 20px;
   margin-left: 30px;
   margin-right: 30px;


}
.team-title
{
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.187;
letter-spacing: 0.03em;
color: #212121;
text-align: center;
}
.team-text
{ 
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 1.187;
letter-spacing: 0.03em;
color: #757575;
text-align: center;
}
 .team-photo
 {     
      border-radius: 0px;
      background: #FFFFFF;
      
 }
.nav-title {
  width: 270px;
  height: 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  font-family: Roboto;
  color: #212121;
}
.nav-text {
 font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.714;
letter-spacing: 0.03em;
color: #757575;
}
.footer-adres {
  font-family: Roboto;
 font-style: normal;
 font-weight: normal;
 font-size: 14px;
 line-height: 1.714;
 letter-spacing: 0.03em;
 color: #FFFFFF;
}
.footer-amail {
  font-family: Roboto;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer {
  background-color: #2f303a;
  width: 1600px;
  padding-left: 215px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.nav-job 
{
  background-color: #E5E5E5;
   margin-right: 215px;
  
    margin-left: 215px;

}
/*-------------------------- portfolio---------------------*/
.button-category
 {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
   border-radius: 4px;
   margin-left: 495px;
   margin-right: 495px;
   background: #F5F4FA;
 
}
.button-category: hover,
.button-category: focus
{
background: #2196F3;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}

.category-text {
 font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.625;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.portfolio-image {
  display: flexbox;
}
.portfolio-title {
  color: #212121;
  font-size: 18px;
  line-height: 2;
  font-family: Roboto;
  font-weight: 700;
 font-style: normal;
 font-weight: bold;
 letter-spacing: 0.06em;
}
.portfolio-text {
  color: #757575;
  font-size: 16px;
  line-height: 1.875;
  font-family: Roboto;
 font-style: normal;
 font-weight: normal;
  letter-spacing: 0.03em;
}
